{% extends 'base.html' %}

{% block content %}
<div class="container" style="padding-top:100px;">
	<h4 id="wh">
		We've emailed you instructions for setting your password, if an account exists with the email you entered.
    You should receive them shortly.
	</h4>
	<h4 id="wh">
		If you don't receive an email, please make sure you've entered the address you registered with,
    and check your spam folder.
	</h4>
	<div class="container-login100-form-btn p-t-10">
  		<a href="{% url 'accounts:login' %}" class="btn btn-dark">Login</a>
  </div>
</div>
  
{% endblock %}