{% extends "accounts/login_base.html" %}
{% load staticfiles %}
{% block content %}
		<div class="limiter">
		<div class="container-login100" style="background-image: url('{% static "images/login.jpg" %}');"> {# style="background-image: url('{% static "login/images/img-01.jpg" %}');" #}
			<div class="wrap-login100 p-t-190 p-b-30">
				<form class="login100-form validate-form" method="post">
					{% csrf_token %}
					<span class="login100-form-title p-t-20 p-b-20">
						Forgot Password ?
						<br><br>
						<h4>Enter your email here </h4>
					</span>
					{% if form.errors %}
						<div class="form-error" style="background-color:#f7f2f2!important;border-radius: 25px;opacity:0.7;z-index: 100;">
							<h3 class="text-center text-danger">
							{{form.errors}}</h3>
							<br>
						</div>
						<br>
					{% endif %}
					{% for field in form %}
					<div class="wrap-input100 validate-input m-b-10" data-validate = "Email is required">
						<input class="input100" id='{{ field.id_for_label }}' type="email" name="{{ field.html_name }}" placeholder="Email">
						<span class="focus-input100"></span>
						<div class="help-block">
							<h5>{{field.help_text}}</h5>
						</div>
					</div>
						
					{% endfor %}
					<div class="container-login100-form-btn p-t-10">
						<input class="login100-form-btn" type="submit" value="Reset">
					</div>
				</form>
			</div>
		</div>
	</div> 
{% endblock %}