{% extends "base.html" %}
{% block content %}
	<div class="row">
		<div class="col-md-3" style="height:100%">
			<br><br><br>
			<h1 id='wh'>@{{user.username}}</h1><br>
			<h4 id="wh">You have <span class="badge">{{user.notes.all.count}}</span> Notes</h4>
		</div>
		<div class="col-md-9">
			{% for note in object_list %}
				{% if note.user.username == user.username  %}				
					<div class="note-wrap note-white col-md-3">
						<h2>{{note.title}}</h2>
						<h5>{{note.text|safe}}</h5>
						<br>
						<h5 class="help-block" id='usertag'>Created by: @{{note.user.username}}</h5>
						<h5 class="help-block" id="usertag">{{note.created}}</h5>
						<a href="{% url 'notes:update' pk=note.pk %}">
							<span class="glyphicon glyphicon-pencil" title="Update Note"></span>
						</a>
						<a href="{% url 'notes:delete' pk=note.pk %}" class="anchor">
							<span class="glyphicon glyphicon-remove" title="Delete Note"></span>
						</a>
						<a href="{% url 'notes:sharesingle' pk=note.pk %}" class="anchor">
							<span class="glyphicon glyphicon-share" title="Share Note"></span>
						</a>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
{% endblock %}