<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	{% load staticfiles %}
		<!-- Latest compiled and minified CSS -->
	{% include 'accounts/_required_css.html' %}
</head>
<body>
		{% block content %}

		{% endblock %}
	<div class="container">
		<div class="footer">
			<div class="row">
				<div class="col-lg-6">
					<p>&copy; SatyamSoni {% now 'Y' %}</p>
				</div>
				<div class="col-lg-6 text-right">
					Connect with us on
					<a href="https://github.com/Satyamsoni2211"><i class="fa fa-github"></i> GitHub</a> or
					<a href="https://www.linkedin.com/in/satyam-soni-ba648192/"><i class="fab fa-linkedin"></i> Linkedin</a>
				</div>
			</div>
		</div>
	</div>
	{% include "accounts/_required_js.html" %}
</body>
</html>